<div flex="100" layout-padding layout="column">
  <md-sidenav md-is-locked-open="true" class="md-whiteframe-z2">

    <form>
      <md-input-container>
        <label>Zip Code</label>
        <input ng-model="$parent.inputData.zipCode">
      </md-input-container>

      <md-input-container>
        <label>years</label>
        <input flex type="number" ng-model="$parent.inputData.years">
        <br>
        <md-slider-container>
          <md-slider flex min="{{$parent.minMax.yearsMin}}" max="{{$parent.minMax.yearsMax}}"  ng-model="$parent.inputData.years">
          </md-slider>
        </md-slider-container>
      </md-input-container>

      <h2>Renting A House</h2>
      <md-input-container>
        <label>Monthly Rent</label>
        <input flex type="number" ng-model="$parent.inputData.monthlyRentPersonal">
        <br>
        <md-slider-container>
          <!-- <md-slider flex step="50" min="10" max="100000"  ng-model="$parent.inputData.monthlyRentPersonal"> -->
          <md-slider flex step="50" min="{{$parent.minMax.monthlyRentPersonalMin}}" max="{{$parent.minMax.monthlyRentPersonalMax}}"  ng-model="$parent.inputData.monthlyRentPersonal">
          </md-slider>
        </md-slider-container>
      </md-input-container>

      <h2>Buying A house</h2>

      <md-input-container>
        <md-slider-container>
          <label>Target Property Price</label>
          <input flex type="number" ng-model="$parent.inputData.targetPrice">
          <br>

          <md-slider min="{{$parent.minMax.targetPriceMin}}" max="{{$parent.minMax.targetPriceMax}}" ng-model="$parent.inputData.targetPrice">

          </md-slider>
        </md-slider-container>
      </md-input-container>


      <md-input-container>

        <label>Down Payment Percentage</label>
        <input flex type="number" ng-model="$parent.inputData.downPaymentPercentage">
        <br>
        <md-slider-container>
          <md-slider flex step=".1" min="{{$parent.minMax.downPaymentPercentageMin}}" max="{{$parent.minMax.downPaymentPercentageMax}}" ng-model="$parent.inputData.downPaymentPercentage">
          </md-slider>
        </md-slider-container>
      </md-input-container>

      <md-input-container>
        <label>Mortgage Rate</label>
        <input flex type="number" ng-model="$parent.inputData.mortgageRate">
        <br>
        <md-slider-container>
          <md-slider flex step=".1" min="{{$parent.minMax.mortgageRateMin}}" max="{{$parent.minMax.mortgageRateMax}}" ng-model="$parent.inputData.mortgageRate">
          </md-slider>
        </md-slider-container>
      </md-input-container>

      <md-input-container>
        <label>Mortgage Term </label>
        <input flex type="number" ng-model="$parent.inputData.mortgageYears">
        <br>
        <md-slider-container>
          <md-slider flex step="5" min="{{$parent.minMax.mortgageYearsMin}}" max="{{$parent.minMax.mortgageYearsMax}}" ng-model="$parent.inputData.mortgageYears">
          </md-slider>
        </md-slider-container>
      </md-input-container>

      <md-input-container>
        <label>Insurance Rate </label>
        <input flex type="number" ng-model="$parent.inputData.insuranceRate">
        <br>
        <md-slider-container>
          <md-slider flex step=".1" min="{{$parent.minMax.insuranceRateMin}}" max="{{$parent.minMax.insuranceRateMax}}" ng-model="$parent.inputData.insuranceRate">
          </md-slider>
        </md-slider-container>
      </md-input-container>


      <md-input-container>
        <label>How Many Years Ammoritized</label>
        <input flex type="number" ng-model="$parent.inputData.yearsAmmoritized">
        <br>
        <md-slider-container>
          <md-slider flex step="1" min="{{$parent.minMax.yearsAmmoritizedMin}}" max="{{$parent.minMax.yearsAmmoritizedMax}}" ng-model="$parent.inputData.yearsAmmoritized">
          </md-slider>
        </md-slider-container>
      </md-input-container>

      <h2>Duplex Information</h2>
      <md-input-container>
        <label>Tenant Rent</label>
        <input flex type="number" ng-model="$parent.inputData.monthlyRentTenant">
        <br>
        <md-slider-container>
          <md-slider flex step="50" min="{{$parent.minMax.monthlyRentTenantMin}}" max="{{$parent.minMax.monthlyRentTenantMax}}" ng-model="$parent.inputData.monthlyRentTenant">
          </md-slider>
        </md-slider-container>
      </md-input-container>


      <md-input-container>
        <label>vacancy</label>
        <input flex type="number" ng-model="$parent.inputData.vacancy">
        <br>
        <md-slider-container>
          <md-slider flex step="1" min="{{$parent.minMax.vacancyMin}}" max="{{$parent.minMax.vacancyMax}}" ng-model="$parent.inputData.vacancy">
          </md-slider>
        </md-slider-container>
      </md-input-container>



      <h2>Investor Information</h2>
      <md-input-container>
        <label>Income</label>
        <input flex type="number" ng-model="$parent.inputData.income">
        <br>
        <md-slider-container>
          <md-slider flex step="10000" min="{{$parent.minMax.incomeMin}}" max="{{$parent.minMax.incomeMax}}" ng-model="$parent.inputData.income">
          </md-slider>
        </md-slider-container>
      </md-input-container>





    </form>
  </md-sidenav>
</div>
